<p id="notice"><%= notice %></p>

<h1>Cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.user.name %></td>
        <td><%= cat.colour %></td>
        <td><%= link_to 'Show', user_cats_path(@user) %></td>
        <td><%= link_to 'Edit', edit_user_cat_path(@user, cat) %></td>
        <td><%= link_to 'Destroy', user_cat_path(@user, cat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat', new_user_cat_path(@user) %>
